<h1>Impressum</h1>

<p>Danijel Kresic<br />
Kresic Digital Systems<br />
Burggasse 3<br />
89604 Allmendingen</p>

<h2>Kontakt</h2>
<p>E-Mail: <a href="mailto:kresic.systems@protonmail.com">kresic.systems@protonmail.com</a></p>

<h2>Berufsbezeichnung und berufsrechtliche Regelungen</h2>
<p>Berufsbezeichnung:<br />
IT-Dienstleistungen, Softwareentwicklung, Handel mit digitalen Produkten sowie Erbringung von Dienstleistungen im Bereich der Datenanalyse und Handelssimulation.</p>
<h2>Redaktionell verantwortlich</h2>
<p>Danijel Kresic</p>

<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

<h2>Umsatzsteuer</h2>
<p>Gemäß § 19 UStG wird keine Umsatzsteuer berechnet. Es wird keine Umsatzsteuer-Identifikationsnummer (USt-IdNr.) ausgewiesen. Für Kleinunternehmer im Sinne des § 19 UStG ist eine USt-IdNr. nicht erforderlich.</p>

<h2>Haftung für Links</h2>
<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für externe Links. Für den Inhalt verlinkter Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
