<h1>Site Notice</h1>

<p>Danijel Kresic<br />
Kresic Digital Systems<br />
Burggasse 3<br />
89604 Allmendingen</p>

<h2>Contact</h2>
<p>E-mail: <a href="mailto:kresic.systems@protonmail.com">kresic.systems@protonmail.com</a></p>

<h2>Job title and professional regulations</h2>
<p>Job title:<br />
IT-Dienstleistungen, Softwareentwicklung, Handel mit digitalen Produkten sowie Erbringung von Dienstleistungen im Bereich der Datenanalyse und Handelssimulation.</p>
<h2>Person responsible for editorial</h2>
<p>Danijel Kresic</p>

<h2>Dispute resolution proceedings in front of a consumer arbitration board</h2>
<p>We are not willing or obliged to participate in dispute resolution proceedings in front of a consumer arbitration board.</p>

<h2>VAT</h2>
<p>Under Section 19 of the German VAT Act (UStG), no VAT is charged. No VAT identification number (USt-IdNr.) is shown. For small businesses within the meaning of Section 19 UStG, a VAT ID is not required.</p>

<h2>Liability for links</h2>
<p>Despite careful editorial control, we accept no liability for external links. The operators of linked pages are solely responsible for their content.</p>
