<h1>Widerrufsbelehrung</h1>

<p>Verbraucher haben bei Verträgen, die im Fernabsatz geschlossen werden, ein gesetzliches Widerrufsrecht. Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können (§ 13 BGB).</p>

<h2>Widerrufsrecht</h2>

<p>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.</p>

<p>Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses.</p>

<p>Um Ihr Widerrufsrecht auszuüben, müssen Sie mir</p>

<p>Danijel Kresic<br />
Burggasse 3<br />
89604 Allmendingen<br />
Deutschland<br />
E-Mail: <a href="mailto:kresic.systems@protonmail.com">kresic.systems@protonmail.com</a></p>

<p>mittels einer eindeutigen Erklärung (z.&nbsp;B. ein mit der Post versandter Brief oder eine E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das unten abgedruckte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.</p>

<p>Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.</p>

<h2>Folgen des Widerrufs</h2>

<p>Wenn Sie diesen Vertrag widerrufen, habe ich Ihnen alle Zahlungen, die ich von Ihnen erhalten habe, unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei mir eingegangen ist. Für diese Rückzahlung verwende ich dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.</p>

<p>Haben Sie verlangt, dass die Dienstleistungen während der Widerrufsfrist beginnen sollen, so haben Sie mir einen angemessenen Betrag zu zahlen, der dem Anteil der bis zu dem Zeitpunkt, zu dem Sie mich von der Ausübung des Widerrufsrechts hinsichtlich dieses Vertrags unterrichten, bereits erbrachten Dienstleistungen im Vergleich zum Gesamtumfang der im Vertrag vorgesehenen Dienstleistungen entspricht.</p>

<h2>Vorzeitiges Erlöschen des Widerrufsrechts</h2>

<p>Ihr Widerrufsrecht erlischt bei einem Vertrag über die Erbringung von Dienstleistungen vorzeitig, wenn ich die Dienstleistung vollständig erbracht habe und mit der Ausführung der Dienstleistung erst begonnen habe, nachdem Sie dazu Ihre ausdrückliche Zustimmung gegeben und gleichzeitig Ihre Kenntnis davon bestätigt haben, dass Sie Ihr Widerrufsrecht bei vollständiger Vertragserfüllung durch mich verlieren (§ 356 Abs. 4 BGB).</p>

<h2>Muster-Widerrufsformular</h2>

<p>(Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.)</p>

<p>An<br />
Danijel Kresic<br />
Burggasse 3<br />
89604 Allmendingen<br />
Deutschland<br />
E-Mail: <a href="mailto:kresic.systems@protonmail.com">kresic.systems@protonmail.com</a></p>

<p>Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über die Erbringung der folgenden Dienstleistung:</p>

<ul>
<li>Beschreibung der Dienstleistung</li>
<li>Beauftragt am</li>
<li>Name des/der Verbraucher(s)</li>
<li>Anschrift des/der Verbraucher(s)</li>
<li>Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)</li>
<li>Datum</li>
</ul>

<p>(*) Unzutreffendes streichen.</p>

<h2>Hinweis für Unternehmer</h2>

<p>Das gesetzliche Widerrufsrecht besteht nur für Verbraucher im Sinne des § 13 BGB. Bei Verträgen mit Unternehmern im Sinne des § 14 BGB besteht kein gesetzliches Widerrufsrecht.</p>
